@model IEnumerable<FoxBlog.Entities.Concrete.Category>


<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    @foreach (var item in Model)
    {
        <a class="dropdown-item" href="#">@item.Name</a>
        <div class="dropdown-divider"></div>
    }
</div>